body{
    font-family: 'Brush Script MT','Comic Sans MS', sans-serif;
    color: white;
    background-color: black;
}

#list{
    display: inline-block;
    margin: auto;
    text-align: left;
    width: 100px;
    font-size: 18pt;
}

#addItem{
    display: block;
    margin: auto;
}

div{
    text-align: center;
}

h1{
    display: block;
    margin: auto;
    text-decoration: underline;
}
